* {
    padding: 0px;
    margin: 5px;
    font-family: Poppins, sans-serif;
}

.top {
    background-color: black;
    margin-top: 15px;
}

h1 {
    color: white;
    padding-left: 10px; 
}

span {
    color: rgb(0,255,255);
}

.middle {
    background-color: rgb(102,51,153)
}
h2 {
    color: white;
    font-style: italic;
    text-align: center;
}
.bottom {
    background-color: rgb(159,197,248);
}
h3 {
    text-decoration: underline;
    text-align: right;
    color: rgb(40,31,89);
    padding-right: 10px; 
}

