.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 5px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 10px;
}
.main {
    height: 400px;
    width: 710px;
    background-color: red;
    margin: 10px;
}
.sub-content {
    height: 200px;
    width: 196px;
    background-color: yellow;
    margin-top: 18px;
    margin-left: 18px;
    
}
#advertisement {
    height: 120px;
    width: 630px;
    background-color: purple;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 18px;
}
.row {
    /* TODO - what should go here? */
    display: flex;
    /* padding: 5px; */
}